/* --------------------------BODY-------------------------- */

body {
    background-color: #2f5691;
    color: #fafafa;
}

/* --------------------------NAVBAR-------------------------- */

.navbar {
    background-color: #fffdfd !important;
}

.nav-link {
    color: #fafafa;
    background: #2f5691;
    border-radius: 0.25rem;
}

.nav-link:hover { /*cambia el color de las palabras al pasar el cursor sobre ellas*/
    color: #a1e557;
}

.boton_nav_descarga { 
    background-color: #2f5691;
    color: #a1e557;
    margin-left: 50px;
    margin-right: 50px;
}

.boton_nav_descarga:hover { /*cambia el aspecto del boton al pasar el cursor sobre él*/
    background-color: #a1e557;
    color: #2f5691;
}

@media (max-width: 433px){ /*de este modo el boton navbar-toggler se mantiene en linea con el logo*/
    .navbar-toggler{
        margin-left: -25%;
    }
}

.espaciador::before {  /*arregla el problema de los titulos con el navbar*/
  content: "";
  display: block;
  height: 88.25px; /* Ajusta la altura según la navbar */
  margin-top: -60px;
}

/* --------------------------CERTIFICADOS Y SEGURIDAD-------------------------- */

.certificados_seguridad{
    background-color: #fffdfd;
    text-align: center;
}

.p_certificados_seguridad{
    color: #2f5691;
}

.imgCertificado{
    max-width: 30%;
    height: auto;
}